body {
    margin: 0;
}

[data-amplify-theme="custom-theme"] .amplify-button {
    font-size: 20px !important;
    font-weight: 500 !important;
}

[data-amplify-theme="custom-theme"] .amplify-textfield {
    font-size: 14px;
    font-weight: 400;
}

[data-amplify-theme="custom-theme"] .amplify-textfield input {
    background-color: rgba(242, 244, 248, 1);
    height: 48px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgba(193, 199, 205, 1);
}

[data-amplify-theme="custom-theme"] .amplify-selectfield {
    font-size: 14px;
    font-weight: 400;
}

[data-amplify-theme="custom-theme"] .amplify-selectfield select {
    background-color: rgba(242, 244, 248, 1);
    height: 48px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgba(193, 199, 205, 1);

    line-height: 48px;
    padding-top: 0;
    padding-bottom: 0;
}

[data-amplify-theme="custom-theme"] .amplify-selectfield select:invalid {
    color: rgba(117, 117, 117, 1);
}

[data-amplify-theme="custom-theme"] .amplify-textareafield {
    font-size: 14px;
    font-weight: 400;
}

[data-amplify-theme="custom-theme"] .amplify-textareafield textarea {
    background-color: rgba(242, 244, 248, 1);
    height: 96px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid rgba(193, 199, 205, 1);

}

[data-amplify-theme="custom-theme"] .amplify-checkbox__icon {
    background-color: rgb(153, 20, 57);
}

[data-amplify-theme="custom-theme"] .amplify-checkbox-field {
    background-color: rgb(153, 20, 57);
}

[data-amplify-theme="custom-theme"] .amplify-checkbox {
    pointer-events: none;
}

[data-amplify-theme="custom-theme"] .amplify-checkbox__button {
    pointer-events: auto;
}

[data-amplify-theme="custom-theme"] .amplify-accordion__item__trigger {
    font-size: 20px;
    font-weight: 700;
}

[data-amplify-theme="custom-theme"] .amplify-accordion__item {
    /* margin-bottom: 8px; */
    border-radius: 0px;
}

.menu-item:hover {
    background-color: rgb(153, 20, 57);
}

.menu-item:active {
    background-color: rgb(110, 15, 42);
}

.menu-item:focus {
    background-color: rgb(153, 20, 57);
    box-shadow: inset 0 0 0 1px black;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}